@font-face {
  font-family: 'FontspringDemoGreycliff';
  src: url('fonts/Fontspring-DEMO-greycliffcf-medium.woff') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('fonts/Outfit-Bold.woff') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('fonts/Outfit-Medium.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('fonts/Outfit-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PokemonSolid';
  src: url('fonts/Pokemon-Solid.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
